body{
    background-color: #f4f4f4;
}

.navbar-brand{
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.navbar-brand img{
    width: 150px;

}
h2{
    color: rgb(124, 124, 228);
    padding: 30px;
    font-weight: bold;
}
